.vs/
bin/
bin-int/




# Nor realvent
IGUI/
RederDocs/
# Test Form Project not longer part / Its only basic App.cpp, Layer.h, Layer.cpp,
Rynex-Test/

# Liberays
Rynex/vendor/spdlog/
Rynex/vendor/glm/
#Rynex/vendor/GLFW/
Rynex/vendor/imgui/
Rynex/vendor/ImGuizmo/
Profile/



# Files
*.bat
*.rdc
*.cap
*.json

# from Hazel

# Binaries
#Intermediates/
Intermediates/
Resources/Binaries/
SandboxProject/Assets/Scripts/Binaries
SandboxProject/Assets/Scripts/Intermediates

# Hazel files
*.log


# Visual Studio files and folder
*.sln
*.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.csproj
**.csproj.user