[submodule "Rynex/vendor/spdlog"]
	path = Rynex/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rynex/vendor/glm"]
	path = Rynex/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Rynex/vendor/yaml-cpp"]
	path = Rynex/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Rynex/vendor/ImGuizmo"]
	path = Rynex/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "Rynex/vendor/msdf-atelas-gen"]
	path = Rynex/vendor/msdf-atelas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
[submodule "Rynex/vendor/gtest"]
	path = Rynex/vendor/gtest
	url = https://github.com/google/googletest
[submodule "Rynex-Test/vendor/gtest"]
	path = Rynex-Test/vendor/gtest
	url = https://github.com/google/googletest
[submodule "Rynex/vendor/meshoptimizer"]
	path = Rynex/vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
