.vs/
bin/
bin-int/

# Nor realvent
IGUI/
RederDocs/

# Liberays
Rynex/vendor/spdlog/
Rynex/vendor/glm/
#Rynex/vendor/GLFW/
Rynex/vendor/imgui/
Rynex/vendor/ImGuizmo/
Profile/

# Files
*.bat
*.rdc
*.cap
*.json
# from Hazel

# Binaries
#Intermediates/
Intermediates/
Resources/Binaries/


# Hazel files
*.log


# Visual Studio files and folder
*.sln
*.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.csproj
**.csproj.user

# Directories
Hazel/vendor/VulkanSDK
Hazelnut/assets/cache
scripts/__pycache__