[submodule "Rynex/vendor/spdlog"]
	path = Rynex/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rynex/vendor/glm"]
	path = Rynex/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Rynex/vendor/yaml-cpp"]
	path = Rynex/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Rynex/vendor/ImGuizmo"]
	path = Rynex/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "Rynex/vendor/msdf-atelas-gen"]
	path = Rynex/vendor/msdf-atelas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
[submodule "Rynex/vendor/imgui"]
	path = Rynex/vendor/imgui
	url = https://github.com/DerDoktorX/imgui
[submodule "Rynex/vendor/GLFW"]
	path = Rynex/vendor/GLFW
	url = https://github.com/DerDoktorX/glfw
[submodule "Rynex/vendor/assimp"]
	path = Rynex/vendor/assimp
	url = https://github.com/DerDoktorX/assimp
[submodule "Rynex/vendor/meshoptimizer"]
	path = Rynex/vendor/meshoptimizer
	url = https://github.com/DerDoktorX/meshoptimizer
